# Ignore macOS system file
.DS_Store

# Ignore text files
README.txt
questions.txt
*.pkl
*.npy
*.faiss
*.zip
*.png

# Ignore folders
database/
wikidata/
engine/
jeopardyenv/
structured/
experiment/
report/
